  <ul>
  	<% if collection_is_viewable(collection) %>
	    <li>
	    	<%= link_to collection.name, collection %>
	    	<!--<%= link_to collection.name, edit_collection_path(collection) %>-->
	    	<%= link_to 'Destroy', collection, confirm: 'Are you sure?', method: :delete %>
	    	<%= link_to 'Unvalidated', "#", {:class => "label label-primary"}%>
	    	<%= link_to 'Zip', "#", {:class => "label label-info"}%>
	    </li>
    <% end %>
    
	<% collection.documents.each do |doc| %>
		<% if doc_is_viewable(doc) %>
			<ul class="document row" id="<%= doc.id %>">
				<li class="span4">
					<%= link_to doc.name, doc %>
	    			<!--<%= link_to doc.name, edit_document_path(doc) %>-->
	    			<%= link_to 'Destroy', doc, confirm: 'Are you sure?', method: :delete %>
			    	<%= link_to 'Unvalidated', "#", {:class => "label label-primary"}%>
			    	<%= link_to 'Zip', csv_export_path(doc, :format => 'csv'), {:class => "label label-info"} %>
			    	
				</li>
			</ul>
		<% end %>
	<% end %>
    
    <% Collection.where(:collection_id => collection.id).each do |child_collection| %>
		<%= render :partial => "collections/collection_new", :locals => {:collection => child_collection} %>
  	<% end %>
  </ul>