  <ul>
  	<% if collection_is_viewable(collection) %>
	    <li>
	    	<%= link_to collection.name, collection %>
	    	<!--<%= link_to collection.name, edit_collection_path(collection) %>-->
	    	<a class="label label-inverse" href="<%= edit_collection_path(collection) %>">
    			<span class="icon-save icon-white"></span>
  			</a>
	    	<%= link_to 'X', collection, confirm: 'Are you sure?', method: :delete,
	    				class: "label label-important" %>
	    	<a class="label label-warning" href="#">
    			<span class="icon-check-empty icon-white"></span>
  			</a>
  			<a class="label label-info" href="<%= csv_export_path(collection, :format => 'zip', :stype => 'Collection') %>">
    			<span class="icon-download icon-white"></span>
    			zip
  			</a>
	    </li>
    <% end %>
    
	<% collection.documents.each do |doc| %>
		<% if doc_is_viewable(doc) %>
			<ul class="document row" id="<%= doc.id %>">
				<li class="span4">
					<%= link_to doc.name, doc %>
	    			<!--<%= link_to doc.name, edit_document_path(doc) %>-->
	    			<a class="label label-inverse" href="<%= edit_document_path(doc) %>">
    					<span class="icon-save icon-white"></span>
  					</a>
	    			<%= link_to 'X', doc, confirm: 'Are you sure?', method: :delete, 
	    				class: "label label-important" %>
			    	<a class="label label-warning" href="#">
    					<span class="icon-check-empty icon-white"></span>
  					</a>
		  			<a class="label label-info" href="<%= csv_export_path(collection, :format => 'zip', :stype => 'Document') %>">
    					<span class="icon-download icon-white"></span>
		    			zip
		  			</a>
				</li>
			</ul>
		<% end %>
	<% end %>
    
    <% Collection.where(:collection_id => collection.id).each do |child_collection| %>
		<%= render :partial => "collections/collection_new", :locals => {:collection => child_collection} %>
  	<% end %>
  </ul>