<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div>
  	<p>Validate:</p>
  	<%= select("post", "ifilter_id", ifilters_get_select_options, {:prompt => '(select a filter)'}) %>
 	<%= link_to "Filters...", ifilters_path %>
  </div>
  
  <div>
  	<p>Parent collection:</p>
  	<%= f.select(:collection_id, get_all_collection_select_options, 
			{:include_blank => '(none)'} ) %>
  </div>
   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
