<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation alert" class="alert alert-error">
      <p><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</p>

      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div>
  	<p>Validate:</p>
  	<%= select("post", "ifilter_id", ifilters_get_select_options, {:prompt => '(select a filter)'}) %>
 	<%= link_to "Filters...", ifilters_path, class: "btn btn-info" %>
  </div>
  
  <div>
  <p>Add metadata from a metaform:</p>
    <%= render 'metaform_select' %> <br />
  </div>

  <div>
  	<p>Parent collection:</p>
  	<%= f.select(:parent_id, get_all_collection_select_options, 
			{:include_blank => '(none)'} ) %>
  </div>

  <div>
  	<p>Add to project:</p>
  	<%= select("proj", "id", Project.find(:all, :conditions => ["user_id = ?", current_user.id]).collect {|p| [ p.name, p.id ] }, {:prompt => '(select a project)'}) %>
    <%= link_to "Projects...", projects_path, class: "btn btn-info" %>
<!--
  <div>
    <p>Add to other project (as editor):</p>
    <%#= select("ed_proj", "pro_id", @proj_ids, {:prompt => '(select a filter)'}) %>
  </div>
-->
  <p>Remove from project:</p>
    <% if @collection.projects.empty? %>
      <p>(none)</p>
  <% end %>

    <% @collection.projects.each do |p| %>
      <p><%= check_box "remove_project", p.id %> <%= p.name %></p>
    <% end %>
  </div>
   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
