<% documents.each do |doc| %>
	<% if doc_is_viewable(doc, current_user) %>
		<ul class="col-doc document row" id="<%= doc.id %>">
			<li class="span4">
				<i class="icon-list-alt icon-white"></i>
				<%= link_to doc.name, doc %>
	    		<span>
			    	<a class="col-doc-plus-minus" id="col-doc-plus" href="#">
			    		<i class="icon-plus icon-white"></i>
			    	</a>
			    	<a class="col-doc-plus-minus" id="col-doc-minus" href="#">
			    		<i class="icon-minus icon-white"></i>
			    	</a>
			    </span>
				<br />
				
    			<ul class="col-doc-attr-form">
	    			<a class="label label-inverse" href="<%= edit_document_path(doc) %>">
    					<i class="icon-save icon-white"></i>
  					</a>
	    			<%= link_to 'X', doc, confirm: 'Are you sure?', method: :delete, 
	    				class: "label label-important" %>
	    			<% if doc.validated %>
			    		<a class="label label-success" href="#">
    						<i class="icon-check icon-white"></i>
    				<% else %>
    					<a 	class="label label-warning" data-confirm="Validations may take some time..." \
    						rel="nofollow" href="<%= validate_doc_path(doc) %>">
    						<i class="icon-check-empty icon-white"></i>
    				<% end %>
    				</a>
    				<% if doc.public %>
			    		<a class="label label-important" href="<%= pub_priv_doc_path(doc, :public => "false") %>">
    						<i class="icon-eye-open icon-white"></i>
    				<% else %>
    					<a class="label label-default" href="<%= pub_priv_doc_path(doc, :public => "true") %>">
    						<i class="icon-eye-close icon-white"></i>
    				<% end %>
  					</a>
		  			<a class="label label-info" href="<%= csv_export_path(doc, :format => 'zip', :stype => 'Document') %>">
    					<i class="icon-download icon-white"></i>
		    			zip
		  			</a>
		  		</ul>
			</li>
		</ul>
	<% end %>
<% end %>