<!--Start of collection section-->
  <% if collection_is_viewable(collection) %>
  	<ul class="col-doc" data-collection-id="<%= collection%>">
	    <li>
	    	<i class="icon-folder-close icon-white"></i>
	    	<%= link_to collection.name, collection %>
	    	<span>
		    	<a class="col-doc-plus-minus" id="col-doc-plus" href="#">
		    		<i class="icon-plus icon-white"></i>
		    	</a>
		    	<a class="col-doc-plus-minus" id="col-doc-minus" href="#">
		    		<i class="icon-minus icon-white"></i>
		    	</a>
		    </span>
	    	
	    	<ul class="col-doc-attr-form">
		    	<a class="label label-inverse" href="<%= edit_collection_path(collection) %>">
	    			<i class="icon-save icon-white"></i>
	  			</a>
		    	<%= link_to 'X', collection, confirm: 'Are you sure?', method: :delete,
		    				class: "label label-important" %>
		    	<% if collection_is_validated(collection) %>
		    		<a class="label label-success" href="#">
						<i class="icon-check icon-white"></i>
				<% else %>
					<a class="label label-warning" href="<%= validate_collection_path(collection) %>">
						<i class="icon-check-empty icon-white"></i>
				<% end %>
				</a>
	    		<a class="label label-important" href="<%= pub_priv_collection_path(collection, :public => "true") %>">
					<i class="icon-eye-open icon-white"></i>
				</a>
				<a class="label label-default" href="<%= pub_priv_collection_path(collection, :public => "false") %>">
					<i class="icon-eye-close icon-white"></i>
				</a>
	  			<a class="label label-info" href="<%= csv_export_path(collection, :format => 'zip', :stype => 'Collection') %>">
	    			<i class="icon-download icon-white"></i>
	    			zip
	  			</a>
	  		</ul>
	    </li>
    
		<% collection.documents.each do |doc| %>
			<% if doc_is_viewable(doc) %>
				<ul class="col-doc document row" id="<%= doc.id %>">
					<li class="span4">
						<i class="icon-list-alt icon-white"></i>
						<%= link_to doc.name, doc %>
			    		<span>
					    	<a class="col-doc-plus-minus" id="col-doc-plus" href="#">
					    		<i class="icon-plus icon-white"></i>
					    	</a>
					    	<a class="col-doc-plus-minus" id="col-doc-minus" href="#">
					    		<i class="icon-minus icon-white"></i>
					    	</a>
					    </span>
						<br />
						
		    			<ul class="col-doc-attr-form">
			    			<a class="label label-inverse" href="<%= edit_document_path(doc) %>">
		    					<i class="icon-save icon-white"></i>
		  					</a>
			    			<%= link_to 'X', doc, confirm: 'Are you sure?', method: :delete, 
			    				class: "label label-important" %>
			    			<% if doc.validated %>
					    		<a class="label label-success" href="#">
		    						<i class="icon-check icon-white"></i>
		    				<% else %>
		    					<a class="label label-warning" href="<%= validate_doc_path(doc) %>">
		    						<i class="icon-check-empty icon-white"></i>
		    				<% end %>
		    				</a>
		    				<% if doc.public %>
					    		<a class="label label-important" href="<%= pub_priv_doc_path(doc, :public => "false") %>">
		    						<i class="icon-eye-open icon-white"></i>
		    				<% else %>
		    					<a class="label label-default" href="<%= pub_priv_doc_path(doc, :public => "true") %>">
		    						<i class="icon-eye-close icon-white"></i>
		    				<% end %>
		  					</a>
				  			<a class="label label-info" href="<%= csv_export_path(doc, :format => 'zip', :stype => 'Document') %>">
		    					<i class="icon-download icon-white"></i>
				    			zip
				  			</a>
				  		</ul>
					</li>
				</ul>
			<% end %>
		<% end %>
	    
	    <% Collection.where(:collection_id => collection.id).each do |child_collection| %>
			<%= render :partial => "collections/rec_collection_render", :locals => {:collection => child_collection} %>
	  	<% end %>
	  </ul>
  <% end %>
<!--End of collection section-->