<!--Start of collection section-->

  <% if collection_is_viewable(collection, current_user, project) %>
  	<ul class="col-doc" data-collectionid="<%= collection.id %>">
	    <li>
	    	<i class="icon-folder-close icon-white"></i>
	    	<%= link_to collection.name, collection %>
	    	<span>
	    	  <% if can? :read, collection %>
		    	<a class="col-doc-plus-minus" id="col-doc-plus" href="#" data-treedepth="<%= tree_depth %>" data-col-doc-type="plus" data-parent-collection-id="<%= parent_collection_id%>">
		    		<i class="icon-plus icon-white"></i>
		    	</a>

		    	<a class="col-doc-plus-minus" id="col-doc-minus" href="#" data-treedepth="<%= tree_depth %>" data-col-doc-type="minus" data-parent-collection-id="<%= parent_collection_id%>">
		    		<i class="icon-minus icon-white"></i>
		    	</a>
		    	<br />
		    	<% if can? :manage, collection %>
		    	<span class="col-doc-attrs">
					<div class="btn-group">
					  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
					    Action
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					  	<li>
					  		<%= link_to "Edit", edit_collection_path(collection) %>
					  	</li>
					  	<li>
						    <% if collection_is_validated(collection) %>
									<i class="icon-check icon-white">Validated</i>
								</a>
							<% else %>
								<%= 
									#link_to raw('<i class="icon-check-empty icon-white">Validate</i>'),
									link_to raw('Validate'),  
											validate_collection_path(collection), 
											#:class => "label label-warning",
											:remote => true,
											:confirm => "Validations may take some time. Refresh page to see when validation is done, or cancel..."
								%>
							<% end %>
						</li>
						<li>
							<%= link_to "Download", csv_export_path(collection, :format => 'zip', :stype => 'Collection') %>
						</li>

					  	<li class="divider"></li>
					    <li><%= link_to 'Destroy', collection, confirm: 'Are you sure?', method: :delete %></li>
					  </ul>
					</div>
				<% end %> <!-- if can? :manage, collection -->
		  		</span>
        <% end %> <!-- if can? :read, collection -->
		    </span>
	    	<ul class="col-doc-attr-form">
	  			<% collection.children.order('name').each do |child_collection| %>
					<%= render :partial => "collections/rec_collection_render", :locals => {:collection => child_collection, :tree_depth => tree_depth + 1, :parent_collection_id => parent_collection_id, :project => project} %>
  				<% end %>

	    		<% render :partial => "documents/documents_datatable", 
	    					:locals => {:collection => collection} %>
	  		</ul>
	    </li>
	  </ul>
  <% end %>
<!--End of collection section-->
