<script>
	//For live_scaffold.js.erb
	// --get rid of more columns we don't want on the page
	BLACKLIST_KEYS += ['collection_id', 'user_id', 'users_id', 'validated'];
</script>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="min-width: 800px;">
  <div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
    <%= link_to "×", collections_path %>
    <h3 id="myModalLabel">Data Import</h3>
  </div>
  <div class="modal-body">
	<%= render "js_upload", :controller => "data_io" %>
  </div>
</div>

<div class="modal" style="display:none; min-width: 800px;">
	<%= link_to "X", collections_path, :class => "btn btn-danger" %>
	<%= render "js_upload", :controller => "data_io" %>
</div>

<% tree_depth = 0 %>

<div class="hero-unit" style="font-size: 14px;">
	<h2>Collections</h2>

	<%= link_to "New Collection", new_collection_path, :class => "btn btn-success" %>
	<a href="#myModal" role="button" class="btn btn-info" data-toggle="modal">Upload files</a>

	<hr />
	<%= render :partial => "collections/rec_collection_documents_render", 
				:locals => {:root_collections => @root_collections, :tree_depth => tree_depth, :project => @project} %>
</div>