<div class="hero-unit">
	<h2>Collection</h2>

	<p>
	  <b>Name:</b>
	  <%= @collection.name %>
	</p>

	<p>
		<b>Owner:</b>
		<% if @collection.user %>
			<%= @collection.user.email %> 
		<% end %>
	</p>

	<%= render :partial => "documents/documents_datatable", 
				:locals => {:collection => @collection} %>

	<% if can? :manage, @collection %>
	  <%= link_to 'Edit', edit_collection_path(@collection), class: "btn" %>
	<% end %>
	<%= link_to 'Back', collections_path, class: "btn" %>

  <hr />

  <% if (!@collection.children.empty?) %>
    <h3>Sub Collections</h3>
  <% end %>
  <ul>
    <% @collection.children.each do |col_child| %>
      <li> <%= link_to col_child.name,  col_child%> </li>
    <% end %>
    </ul>
</div>
