<div class="hero-unit">
	<h2>Collection</h2>

	<p>
	  <b>Name:</b>
	  <%= @collection.name %>
	</p>

	<p>
		<b>Owner:</b>
		<% if @collection.user %>
			<%= @collection.user.email %> 
		<% end %>
	</p>

	<%= render :partial => "documents/documents_datatable", 
				:locals => {:collection => @collection} %>
	<% if can? :manage, @collection %>
	  <%= link_to 'Edit', edit_collection_path(@collection) %> |
	<% end %>
	<%= link_to 'Back', collections_path %>
</div>
