<h1>New feed</h1>

<%= 
	#render 'form' 
%>

<%= form_for :feed, :url => { :action => "create" }, :html => {:class => "feed"} do |f| %>
<table>
<tr>
	<td>Name:</td>
	<td><%= f.text_field :name %></td>
</tr>
<tr>
	<td>URL:</td>
	<td><%= f.url_field :feed_url %></td>
</tr>
<tr>
	<td>Interval:</td>
	<td><%= f.number_field(:interval_val, :min => 1)%></td>
	<td><%= f.select(:interval_unit, ["seconds","minutes", "hours", "days"]) %></td>
</tr>
<tr>
	<td>Document: (to over write):</td>
	<td><%= f.select(:document_id, Document.all.collect {|d| [ d.name, d.id ] }) %></td>
	<td><%= link_to 'New Document', new_document_path, :target => '_blank' %></td>
</tr>
<tr>
	<td><%= f.submit %></td>
</tr>
</table>
<% end %>

<%= link_to 'Back', feeds_path %>
