<div class="hero-unit">
  
  <%- model_class = Metaform -%>
  <div class="page-header">
    <h1> <%=t '.title', :default => model_class.model_name.human %> </h1>
    
    <button id="mf_show_help" class="btn btn-info btn-small" title="Help">Help</button>
    <div id="mf_popup" hidden>
      <ul>
        <li>Drag and drop metadata rows to sort.</li>
        <li>For more help go to: <%= link_to "Metaforms", metaforms_path %> and click
            "See Metaform Info". </li>
      </ul>
    </div>
  </div>
  
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= @metaform.name %></dd>
    <dt><strong>Description:</strong></dt>
    <!--<dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>-->
    <dd><%= @metaform.mddesc %></dd>
    <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
    <dd><%= @owner %></dd>

    <hr>
    <% if can? :manage, @metaform %>
      <ol id="mf_sortable" data-update-url="<%= mdf_sort_path%>" >
    <% else %>
      <ol>
    <% end %> <!-- CanCan -->
    
    <% @metaform.metarows.each do |mrow| %>
        <%= content_tag_for :li, mrow do %>
          <strong>Label:</strong>
          <%= mrow.key %><br />
        
          <strong>Value:</strong>
          <%= mrow.value %><br />
        <hr>
      <% end %>
    <% end %>
    </ol>

    <% if can? :manage, @metaform %>
      <%= link_to 'Edit', edit_metaform_path(@metaform), class: "btn" %>
    <% end %>
    <% if can? :read, @metaform %>
      <%= link_to 'Copy', mdf_copy_path(:mf_id => @metaform.id), class: "btn" %>
    <% end %>
    <%= link_to 'Back', metaforms_path, class: "btn" %>
    
  </div>
</div>
