<div class="hero-unit">
  
  <%- model_class = Metaform -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human %></h1>
  </div>
  
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= @metaform.name %></dd>
    <dt><strong>Description:</strong></dt>
    <!--<dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>-->
    <dd><%= @metaform.mddesc %></dd>
    <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
    <dd><%= @owner %></dd>

    <hr>
    <ol>
    <% for mrow in @metaform.metarows %>
      <li>
      <p>
        <strong>Key:</strong>
        <%= mrow.key %><br />
      
        <strong>Value:</strong>
        <%= mrow.value %>
      
        <!--<b>Autofill:</b>
        <%#= mrow.autofill %> -->
        <hr>
      </p>
      </li>
      
    <% end %>
    </ol>
    <% if can? :manage, @metaform %>
      <%= link_to 'Edit', edit_metaform_path(@metaform), class: "btn" %>
      <%= link_to 'Copy', { :controller => :metaforms, :action => :mdf_copy }, class: "btn" %>
    <% end %>
    <%= link_to 'Back', metaforms_path, class: "btn" %>
  </div>
</div>
