<%= form_for(@data_column) do |f| %>
  <% if @data_column.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_column.errors.count, "error") %> prohibited this data_column from being saved:</h2>

      <ul>
      <% @data_column.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dtype %><br />
    <%= f.text_field :dtype %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :datum_id %><br />
    <%= f.number_field :datum_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
