<div class="hero-unit">
  <%- model_class = Job -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>

  <div class="clear-jobs" data-clear-jobs-source="<%= clear_jobs_path(format: "json") %>">
  <div class="clear-finished-jobs">
  <div class="clear-selected-jobs">
  <div class="clear-all-jobs">
    <!--Gets binded an event by jobs.js.-->
    <%= link_to "Clear finished jobs", "#", :class => "btn btn-success clear-finished-jobs" %>
    <%= link_to "Clear selected jobs", "#", :class => "btn btn-warning clear-selected-jobs" %>
    <%= link_to "Clear all jobs", "#", :class => "btn btn-danger clear-all-jobs" %>
  </div>
  <br />

  <table id="jobs" class="table table-striped display" data-source="<%= jobs_url(format: "json") %>">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:user_id) %></th>
        <th>Status</th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
