<% if not @chart then @chart = Chart.new end -%>
<div>
	<h2>Visualization</h2>
		<%= form_tag(visualize_path) do %>
			<%= hidden_field_tag(:document_id, @document[:id]) %>
    <table>
        <thead>
            <tr>
                <th>X axis</th>
                <th>Y axis</th>
                <th>Chart type</th>
            </tr>
        </thead>
        <tr>
            <td>
                <%= select_tag("x_axis", options_for_select(@colnames, @chart.x_column))%>
            </td>
            <td>
                <%= select_tag("y_axis", options_for_select(@colnames, @chart.y_column))%>
            </td>
            <td>
                <%= select_tag("chart_type", 
                options_for_select(['spline', 'line', 'bar', 'column', 'pie'], @chart.chart_type))
                %>
            </td>
	<table class="table">
		<!--Column names-->
		<tr>
			<td>Column name:</td>
			<% @colnames.each do |colname|%>
			<td>
				<b><%= colname %></b>
			</td>
			<% end %>
		</tr>
		<!--Column types-->
		<tr>
			<td>Data type:</td>
			<% @colnames.each do |colname|%>
			<td>
				<b><%= @row[colname].class() %></b>
			</td>
			<% end %>
		</tr>
		<tr>
			<!--Links to Viz - x axis-->
			<td>X axis</td>
			<% @colnames.each do |colname|%>
			<td>
                <%#	<%= check_box_tag("x_axis", colname) %> 
			</td>
			<% end %>
		</tr>
		<tr>
			<!--Links to Viz - x axis label-->
			<td>X axis label</td>
			<% @colnames.each do |colname|%>
			<td>
				<%= check_box_tag("x_axis_labels", colname) %> 
			</td>
			<% end %>
		</tr>
		
		<tr>
    </table>
    <%= submit_tag("Visualize")%>
			
    <% end %><!--end axis form-->
</div>
