<%= stylesheet_link_tag 'tree' %>
<h1><%= @current_user.email %>'s Data</h1>

<hr/>
<ol class="tree">
<% @tree.each do |collection| %>
    <li>
    <label for="<%= collection.object_id %>"/>
        <%= collection[:collection].name %>
    </label>

            <input type="checkbox" id="<%= collection.object_id %>"/>
        <ol>
            <li><%= link_to "View/rename collection", edit_collection_path(collection[:collection])%></li>
            <li>Documents</li>
        <% collection[:documents].each do |document| %>
                <li>
                <label for="<%= document.object_id %>">
                    <%= document[:document].name %>
                </label>
                <input type="checkbox" id="<%= document.object_id %>"/>
                <ol>
                    <li><%= link_to "View/edit document", document_path(document[:document]) %></li>
                    <li><%= link_to "Download document as CSV", csv_export_path(document[:document]) %></li>
                    <li>Charts</li>
                    
                <% document[:charts].each do |chart| %>
                    <li class="file">
                            <%= link_to chart.title, chart_path(:id => chart.id) %>
                    </li>
                <% end %>
                </ol>
                </li>
        <% end %>
        </ol>
    </li>
<% end %>
</ol>
