<div class="hero-unit">
	<h1>Hatch Demo</h1>
	<p><span class="label label-info">This will be awesome!</span></p>
	<hr />

	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="min-width: 800px;">
	  <div class="modal-header">
	    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
	    <%= link_to "×", "/demo" %>
	    <h3 id="myModalLabel">Data Import</h3>
	  </div>
	  <div class="modal-body">
		<%= render :partial => "collections/js_upload" %>
	  </div>
	</div>

	<p>Hatch has a lot of documentation, but a good old demo is the best way to highlight the features and use cases we want to show.</p>

	<h2>Data Upload</h2>

	<p>So you've just come to work to start another day of data analysis. Someone sends you an email with a link to files:</p>

	<div class="hero-unit" style="background-color: #99CCFF">
		<i class="icon-envelope icon-4x">New Mail</i>
		<p>Per our conversation yesterday, could you look at the following datasets? We're curious about the relationship between the environmental and XXXTODOXXX data. We'll need to present on this really soon, so it would be great if we could get started.</p>

		<%= link_to "sonde_1_4-24-13--2.csv", "/data/demo/sonde_1_4-24-13--2.csv" %>

		<p>TODO: another file with similar data</p>

		<p>Thanks!</p>

		<p>Devon</p>
	</div>

	<p>Click on the files in the above email, and save them to your desktop. You're about to do something that will make data sharing much easier, and less likely to overload or get lost in your inbox.</p>

</div>

<div class="hero-unit">
	<h3>Upload data to Hatch</h3>

	<p>Now to add the files to Hatch, go to the <%= link_to "Data", collections_path %> and do the following steps:</p>

	<ol>
		<li>Click on the <b>Upload files</b> button below.</li>
		<li>Select the collection <b>Demo Collection</b> for the <b>Add to Collection</b> field.</li>
		<li>Select <b>CSV (pre-defined)</b> for the <b>What kind of data is this?</b> field.</li>
		<li>Either drag and drop, or click <b>Add Files</b>, to add those desktop CSV files from the demo email above.</li>
		<li>Click the <b>Start Upload</b> button. It may take a minute or so for all files to upload and filter.</li>
		<li>Click the <i class="icon-plus icon-white"></i> button next to the <b>Demo Collection</b> in the Collection list.</li>
		<ul>
			<li>When the files finish uploading and filtering, the document labels will change from <i class="label label-important">Unvalidated</i> -> <i class="label label-info"`>Validated</i>. You can click the <i class="icon-plus icon-white"></i> and <i class="icon-minus icon-white"></i> buttons next to the <b>Demo Collection</b> to refresh.</li>
		</ul>
	</ol>

</div>

<div class="hero-unit">
	<h3>Search</h3>

	<p>Now we have some data in Hatch, let's do some searching. Go to the <%= link_to "Searches", new_search_path %> page. Search using the query <b>2:3D9*</b>. You should see some documents in your search results.</p>

	<p>Now click the <b>Merge</b> button. This will merge the data from the documents in this view. Keep in mind that all documents show up in the normal search, but only document data that you have permissions to will get merged in.</p>
</div>

<!--
<div class="hero-unit">
	<h3>More information</h3>

	<p>TODO: put the Hatch demo video here, showing start to finish the upload through search through Project work flow, a little more in detail, like we developers know it.</p>
</div>
-->