<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" 
%>

<% 
	#javascript_include_tag :highcharts  
%>
<%
	#javascript_include_tag :exporting 
%>
<%= 
	#javascript_include_tag "dataTables/jquery.dataTables" 
%>

<%= 
	#javascript_include_tag "dataTables/jquery.dataTables.bootstrap" 
%>

<%= 
	#javascript_include_tag "home_datatable_example" 
%>

<div class="hero-unit">
  <%= image_tag("hatch_logo_small_02.jpg", id: "hatch_logo") %>
  <h1>Hatch</h1>
  <p>Cloud based scientific data sharing.</p>
  
  <h2>Why a cloud-based database tool?</h2>
  <p>
    Modern science generates large amounts of data.  That data largely exists on distributed computers and lacks sufficient cataloging for future use.  Without database-ing data, we stand to lose it.  While database management is a best practice, it is currently too difficult.  Hatch is a step closer to seamless database protocols.
  </p>
  
  <h2>Simplifying the Database</h2>
  <p>
    Traditional data input and storage approaches are time consuming and complicated.  Hatch streamlines the database process by providing a cloud based interface to simplify file upload, sharing, and data search.  Hatch simplifies associating metadata to data, providing valuable context to uploaded data.  Hatch also provides access control to data, making sure sensitive data stays protected.
  </p>
  
  <h2>Hatch Feature Highlights</h2>
  
  <h3 class="feature_head">Data Import</h3>
  
  <ul class="indent_b">
    <li>Drag and drop multiple files simultaneously.</li>
    <li>Automated metadata capture.</li>
    <ul class="indent_c">
      <li>I-filters capture data and metadata by parsing header information and data.</li>
    </ul>
    <li>Meta-forms: Modular forms for creating metadata.</li>
  </ul>
  
  <h3 class="feature_head">Data Projects</h3>
  
  <ul class="indent_b">
    <li>Projects: helps group data and allows access control among users.  Projects give users the ability to share data with all users in Hatch or specific users.</li>
  </ul>
  
  <h3 class="feature_head">Search Data</h3>
  
  <ul class="indent_b">
    <li>Search tools uses a Google-like search interface to make finding data easier.</li>
  </ul>
  
  <h2>Future Plans</h2>
  
  <p>Hatch is in active development and has a growing feature set.  Future plans include...</p>
  
  <ul class="indent_c">
    <li>Faster search and upload speeds.</li>
    <li>Visualization tools for seamless display of data.</li>
    <li>Customizable data analysis tools for common procedures.</li>
  </ul>
  
</div>

<div class="hero-unit">
  <h2>Hatch Information</h2>
  
  <p>More information about Hatch and its features can be viewed online by clicking the "More Info" button.</p>
  <%= link_to "More Info", more_info_path, class: "btn btn-info" %>
  
  <br />  <br />
  
  <p>For detailed information about using Hatch download the tutorial.</p>
  <%= link_to "Download Tutorial", "/data/Hatch Tutorial.pdf", class: "btn btn-info" %>
  
  <h3>Hatch Demo</h3>
  <p>A brief demonstration of Hatch and some of its features.</p>
  <iframe width="420" height="315" src="//www.youtube.com/embed/h5rNYszYkEY" frameborder="0" allowfullscreen></iframe>
  
  <h3>Hatch Overview</h3>
  <p>Short presentation explaining the design concepts of Hatch</p>
  <iframe width="420" height="315" src="//www.youtube.com/embed/v1B99dgL2G4" frameborder="0" allowfullscreen></iframe>
</div>


<div class="hero-unit">
   <p><small><strong>Sponsored by</strong> Alex Fremier, School of the Environment, Washington State University.
    <br />
    <strong>Developed by</strong> Shane Smith, Colby Blair, and Mike Solomon.</small></p>

    <p> More information about the early development of Hatch is available at the <a href="http://seniordesign.engr.uidaho.edu/2011-2012/EcoData/">project website</a>.
    </p>
</div>
