
<h3>Document Upload and Import</h3>

<%= form_for :dump, :url=>{:controller=>"DataIO", :action=>"csv_import"}, :html => { :multipart => true } do |f| -%>
 <table>
   <tr>
     <td>
      <label for="dump_file">
        Select a file (zip, csv, or text):
      </label>
     </td>
     <td><%= f.file_field :file -%></td>
   </tr>
   <tr>
   	<td>(select a filter):</td>
     <td>
     	<%= select("post", "ifilter_id", Ifilter.all.collect {|f| [ f.name, f.id ] }, {:prompt => '(none)'}) %>
     </td>
     <td>
     	<%= link_to "Filters...", ifilters_path %>
     </td>
   </tr>
   <tr id="collection_id">
	<td>(select a collection):</td>
	<td><%= f.select(:collection_id, Collection.all.collect {|c| [ c.name, c.id ] }, {:prompt => '(none)'}) %></td>
   </tr>
   <tr id="collection_text">
   	<td>(new collection name):</td>
   	<td><%= f.text_field "collection_text" %></td>
   </tr>
   <tr>
     <td>
         <%= f.check_box :contains_header, :checked => false %> File has header
     </td>
   </tr>
   <tr>
   	 <td>
       <%= submit_tag 'Submit' -%>
     </td>
   </tr>
 </table>
<% end -%>

<h3>Existing Documents</h3>
<p>Download, export, and visualize data from the <%= link_to 'Data Explorer', visualizations_path %> page </p>
