<h1>Listing charts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Source doc</th>
    <th>X column</th>
    <th>Y column</th>
    <th>Xlab</th>
    <th>Ylab</th>
    <th>Chart type</th>
    <th>Options</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @charts.each do |chart| %>
  <tr>
    <td><%= chart.title %></td>
    <td><%= chart.source_doc %></td>
    <td><%= chart.x_column %></td>
    <td><%= chart.y_column %></td>
    <td><%= chart.xlab %></td>
    <td><%= chart.ylab %></td>
    <td><%= chart.chart_type %></td>
    <td><%= chart.options %></td>
    <td><%= link_to 'Show', chart %></td>
    <td><%= link_to 'Edit', edit_chart_path(chart) %></td>
    <td><%= link_to 'Destroy', chart, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chart', new_chart_path %>
