<p id="notice"><%= notice %></p>

<p>
  <b>Header:</b>
  <%= @page.header %>
</p>

<p>
  <b>Content:</b>
  <%= @page.content %>
</p>

<p>
  <b>Footer:</b>
  <%= @page.footer %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
