<h1>Listing data_column_ints</h1>

<table>
  <tr>
    <th>Val</th>
    <th>Datum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_column_ints.each do |data_column_int| %>
  <tr>
    <td><%= data_column_int.val %></td>
    <td><%= data_column_int.datum_id %></td>
    <td><%= link_to 'Show', data_column_int %></td>
    <td><%= link_to 'Edit', edit_data_column_int_path(data_column_int) %></td>
    <td><%= link_to 'Destroy', data_column_int, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data column int', new_data_column_int_path %>
