<p id="notice"><%= notice %></p>

<p>
  <b>Val:</b>
  <%= @data_column_int.val %>
</p>

<p>
  <b>Datum:</b>
  <%= @data_column_int.datum_id %>
</p>


<%= link_to 'Edit', edit_data_column_int_path(@data_column_int) %> |
<%= link_to 'Back', data_column_ints_path %>
