<p>
   <b>Name:</b>
   <%= @document.name %>
</p>

 <p>
   <b>Collection:</b>
   <%= @doc_collection.name || "(none)" %>
   <% if can? :export_csv, @doc_collection %>
     <%= link_to '<i class="icon-download"> Download</i>'.html_safe, csv_export_path(@doc_collection, :format => 'zip', :stype => 'Collection'), :class => "label label-info" %>
   <% end %>
 </p>
 
 <p>
  <b>Owner:</b>
  <% if @document.user %>
   <%= @document.user.email %> 
  <% end %>
 </p>
<!--
 <p>
  <% if @document.public %>
   <a class="label label-important" href="<%#= pub_priv_doc_path(@document, :public => "false") %>">
    <i class="icon-eye-open icon-white"></i>
    public
  <% else %>
   <a class="label label-default" href="<%#= pub_priv_doc_path(@document, :public => "true") %>">
    <i class="icon-eye-close icon-white"></i>
    private
  <% end %>
  </a>
 </p>
-->
 <div>
  <%= render 'doc_job_status' %>
 </div>


 <%= link_to 'Properties', "#", :title => "Document Properties",
     "data-content" => "#{ render "doc_info" }", :id => "doc_info", :class => "btn" %>
 <% if @document.validated or @raw_file != nil%>
   <% if can? :manage, @document %>
     <%= link_to 'Edit', edit_document_path(@document), class: "btn" %>
   <% end %> <!-- can can -->
 <% else %>
   <% if can? :manage, @document %>
     <%= link_to 'Edit Properties', edit_document_path(@document), class: "btn" %>
     <%= link_to 'Edit Text', edit_document_text_path(@document), class: "btn" %>
   <% end %> <!-- can can -->
 <% end %>
 <% if can? :manage, @document %>
 <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
       document_path(@document), class: "btn btn-danger",
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
 <% end %> <!-- can can -->

  <%= link_to 'Back', @document.collection, class: "btn" %>

  <button id="doc_show_help" class="btn btn-info" data-toggle="collapse" data-target="#doc_popup">Help</button>
    <div id="doc_popup" class="collapse out">
      <ul>
        <li>Click the download link above to download all files in this collection.</li>
        <li>To edit metadata click the "Edit Metadata" button.  Once in edit mode double click a cell to edit its contents.  Press "Esc" on your keyboard to ready the changes for saving.  Click the "save" button to commit changes.</li>
        <li>When editing a cell you can expand the cell by dragging the arrow in the bottom right corner.</li>
        <li>To sort metadata click the "Sort Metadata" button, then drag and drop metadata rows.  To commit sorting changes click the "Save Sorting" button.</li>
      </ul>
    </div>

