    <div id="hidden_group">
      <a class="btn btn-info" href="#">Show Metaform</a>
      <a class="btn btn-inverse" href="#">Hide Metaform</a>

      <div class="hidden_section">
        <%= form_tag(controller: "metaforms", action: "mdf_input", method: "get") do %>
        <%= select("metaf", "id", Metaform.all.collect {|m| [m.name, m.id]},
          {:prompt => '(select a metaform)'}) %>
            <%= link_to "Metaform Editor...", metaforms_path, class: "btn btn-info" %> <br />
        <%= hidden_field_tag "doc_id", @document.id %>
        <%= submit_tag "Add Metaform" %>
        <% end %>
      </div>
    </div>
