<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
  <tr>
    <th><%= sortable "name" %></th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%= document.name %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @documents %>