<div class="container-fluid">
  <h2>Metadata</h2>
  <% if @msdata != nil  and !@msdata.empty? %>
   <table id="metadata_table" class="table table-striped table-bordered table-condensed" style="width:5;">
    <tbody>
    <% @msdata.each do |msdata_row| %>
     <!--If the row is a Hash, display values only-->
     <tr>
      <% msdata_row.each do |key, val| %>
       <td><%= key %></td>
       <td><%= auto_link(val) %></td>
      <% end %>
     </tr>
    <% end %>
    </tbody>
   </table>
      <% if can? :manage, @document %>
        <%= button_tag("Edit Metadata", :class => "btn edit_md_btn", :name => "edit_metad_btn") %>
      <% end %>
  <% else %>
   <p>(none)</p>
  <% end %>
  
  <!--TODO: metaform stuff
  <% if can? :add_md, @document %>
    <div id="hidden_group">
      <a class="btn btn-info" href="#">Show Metaform</a>
      <a class="btn btn-inverse" href="#">Hide Metaform</a>

      <div class="hidden_section">
        <%= select("metaf", "id", Metaform.all.collect {|m| [m.name, m.id]},
          {:prompt => '(select a metaform)'}) %>
        <%= link_to "Metaform Editor...", metaforms_path %> <br />
      </div>
    </div>

    <%= form_tag(controller: "metaforms", action: "mdf_input", method: "get") do %>
      <%= select("metaf", "id", Metaform.all.collect {|m| [m.name, m.id]},
        {:prompt => '(select a metaform)'}) %>
          <%= link_to "Metaform Editor...", metaforms_path %> <br />
      <%= hidden_field_tag "doc_id", @document.id %>
      <%= submit_tag "Add Metaform" %>
    <% end %>
  <% end %>
  -->
  <!-- CanCan -->
</div>
