<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :collection_id %><br />
    <%= f.select(:collection_id, get_all_collection_select_options, 
      {:include_blank => '(none)'} ) %>
  </div>
  
  <p>Add new collaborator</p>
  <div class="field">
  	<%= 
    	select_tag("new_user_id", 
    		options_from_collection_for_select(User.all, "id", "email"), 
    		:include_blank => true)
  	%>
    <%= link_to "Users...", users_path %>
  </div>
  
  <p>Remove existing collaborators:</p>
  <div class="field">
  <% if @colab_users.empty? %>
    <p>(none)</p>
  <% else %> 
    <% @colab_users.each do |user| %>
  	  	<%= check_box_tag("colab_user_ids[]", user.id)%>
  	  	<%= user.email %>
    <% end %>
  <% end %>
  </div>
  <br />
  
  <div>
  	<p>Validate...</p>
  	<%= select("post", "ifilter_id", ifilters_get_select_options, {:prompt => '(select a filter)'}) %>
 	<%= link_to "Filters...", ifilters_path %>
  </div>

  <div>
    <p>Index columns:<p>
      <% @colnames.each do |colname| %>
        <%=
          if ( @document.stuffing_primary_keys && @document.stuffing_primary_keys.include?(colname) )
            check_box_tag("primary_keys[]", colname, {:selected => true})
          else
            check_box_tag("primary_keys[]", colname)
          end
        %>
        <%= colname %>
        <br />
      <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
