<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :collection_id %><br />
  	<%= 
	f.select(:collection_id, Collection.all.collect {|c| [ c.name, c.id ] }, 
				{:selected => @document.collection_id} )
  	%>
  </div>
  
  <div class="field">
    <%= f.label :project_id %><br />
    <%= select("proj", "id", Project.find(:all, :conditions => ["user_id = ?", current_user.id]).collect {|p| [ p.name, p.id ] }, {:prompt => '(select a project)'}) %>
 	<%= link_to "Projects...", projects_path %>
  </div>
  
  <p>Add new collaborator</p>
  <div class="field">
  	<%= 
    	select_tag("new_user_id", 
    		options_from_collection_for_select(User.all, "id", "email"), 
    		:include_blank => true)
  	%>
  </div>
  
  <p>Remove existing collaborators</p>
  <% @colab_users.each do |user| %>
  	  <div class="field">
	  	<%= check_box_tag("colab_user_ids[]", user.id)%>
	  	<%= user.email %>
	  </div>
  <% end %>
  <br />
  
  <div>
  	<p>Validate...</p>
  	<%= select("post", "ifilter_id", Ifilter.all.collect {|ifilter| [ ifilter.name, ifilter.id ] }, {:prompt => '(select a filter)'}) %>
 	<%= link_to "Filters...", ifilters_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
