<%= form_for(@document, :html => { :class => 'row-fluid' }) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="control-group">
    <div class="field">
      <%= f.label :collection_id %>
      <%= f.select(:collection_id, get_all_collection_select_options, 
        {:include_blank => '(none)'} ) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :validate %>
    <%= select("post", "ifilter_id", ifilters_get_select_options, {:prompt => '(select a filter)'}) %>
    <%= link_to "Filters...", ifilters_path, class: "btn btn-info" %>
  </div>

  <div class="control-group">
    <div class="field">
      <%= f.label :add_file_as_a_note %>
      <%= select("note", "upload_id", upload_note_select_for_doc, {:prompt => '(select a note)'}) %>
      <%= link_to "Uploads...", uploads_path, class: "btn btn-info" %>
    </div>
  </div>
  
  <div class="control-group">
    <% if (!@remove_notes_ids.blank?) %>
      <%= f.label :remove_notes, :class => "control-label" %>
      <% @remove_notes_ids.each do |upload| %>
        <div class="field">
          <%= check_box_tag("remove_ids[]", upload.id)%>
          <%= upload.upfile_file_name %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- <div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= select("proj", "id", Project.find(:all, :conditions => ["user_id = ?", current_user.id]).collect {|p| [ p.name, p.id ] }, {:prompt => '(select a project)'}) %>
    <%= link_to "Projects...", projects_path %>
  </div>
  </div> -->

  <!-- <div>
  <p>Add new collaborator</p>
  <div class="field">
  	<%= 
    	select_tag("new_user_id", 
    		options_from_collection_for_select(User.all, "id", "email"), 
    		:include_blank => true)
  	%>
    <%= link_to "Users...", users_path %>
  </div>
  
  <p>Remove existing collaborators:</p>
  <div class="field">
  <% if @colab_users.empty? %>
    <p>(none)</p>
  <% else %> 
    <% @colab_users.each do |user| %>
  	  	<%= check_box_tag("colab_user_ids[]", user.id)%>
  	  	<%= user.email %>
    <% end %>
  <% end %>
  </div>
  <br />
  </div> -->

  <!--Hide for now - we're adding all columns to primary keys for search
  <div>
    <p>Index columns:<p>
      <% @colnames.each do |colname| %>
        <%=
          if ( @document.stuffing_primary_keys && @document.stuffing_primary_keys.include?(colname) )
            check_box_tag("primary_keys[]", colname, {:selected => true})
          else
            check_box_tag("primary_keys[]", colname)
          end
        %>
        <%= colname %>
        <br />
      <% end %>
  </div>
  -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
