<h1>Documents</h1>

<%= form_tag documents_path, :method => 'get', :id => "documents_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Hatch Search", :name => "search_type" %>
    <%= submit_tag "I'm Feeling Lucky", :name => "search_type" %>
  </p>
  <div id="documents"><%= render 'documents' %></div>
<% end %>

<% if @temp_search_document %>
<h1>Data</h1>
<p><%= link_to 'Show as document', @temp_search_document %></p>

<div>
	<% @row = @temp_search_document.stuffing_data.first() %>
	<% if @row != nil %>
		<% @colnames = @row.keys %>
		
		<!--TODO: make a partial-->
	    <table class="table table-striped table-bordered table-condensed" style="width:0;">
	        <thead><tr>
	            <th><!--place holder for axis labels --></th>
	    <% @row.keys.each do |name| %>
	            <th><%= name %></th>
	    <% end %>
	        </tr></thhead>
		<% @temp_search_document.stuffing_data[0..50].each do |row| %>
			<tr>
				<td><!--place holder for axis labels--></td>
				<% row.values.each do |val|%>
				<td>
					<%= val %>
				</td>
				<% end %>
			</tr>
		<% end %>
			<tr>
				<td>
					<%= link_to '...', @temp_search_document %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
<% end %>

<h1>Documents</h1>
<table class="table" style="width: 0;">
  <thead>
  <tr>
    <th>Name</th>
    <th>Collection</th>
  </tr>
  </thead>
  <tbody>
<% @documents.each do |document| %>
  <tr>
    <td><%= document.name %></td>
    <% cname = "(none)" %>
    <% if document[:collection] != nil %>
    	<% cname = document[:collection].name %>
    <% end %>
    <td><%= cname %></td>
    <td><%= link_to 'Show', document %></td>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Download as CSV', csv_export_path(document, :format => 'csv') %></td>
    <td><%= link_to 'Destroy', document, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>


<%= link_to 'Upload New Document', csv_import_path %>
