<h1>Listing documents</h1>

<%= form_tag documents_path, :method => 'get', :id => "documents_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="documents"><%= render 'documents' %></div>
<% end %>


<%= link_to 'New Document', new_document_path %>
