<div class="hero-unit">

  <!-- Document Menu -->
  <%= render "doc_menu" %>

  <hr/>
  
  <p><%= link_to "Hide Data", document_path, class: "btn btn-primary" %></p>

  <!-- Document Data -->
    <% 
      #Get row data
      @row = @paged_sdata.first()
      #if there is no first row, set to empty instead of nil
      if @row == nil
        @row = {}
      end 
      @colnames = get_data_colnames(@paged_sdata) 
    %>

    <p id="items_per_page">Show
      <%= select_tag :per_page, options_for_select([5,10,25,50,100,500,1000], params[:per_page].to_i),
       {:onchange => "if(this.value){window.location='?per_page='+this.value;}", :prompt => "(select number)"} %>
       items
    </p>

    <h2>Data</h2>
    <!--Display data-->
    
    <% if @document.stuffing_data != nil %>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <% row_keys = [] %>
            <% if !@row.empty? %>
              <% row_keys = @row.keys %>
            <% end %>
            <% row_keys.each do |name| %>
              <th>
              <%= name %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @paged_sdata.each do |row| %>
            <tr>
            <% row_keys.each do |field| %>
              <td><%= row[field] %></td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
        
      </table>
      
      <div class="digg_pagination">
        <%= will_paginate @paged_sdata %>
      </div>
        
    <% elsif (@document.stuffing_text != nil and !@document.stuffing_text.empty?) %>
      <p>Raw unvalidated text: </p>

      <% if @document.stuffing_text.is_a? Array %>
        <p><%= @document.stuffing_text[0..100]%>...</p>
      <% else %>
        <p><%= simple_format @document.stuffing_text[0..100000] %>...</p>
      <% end %>
      <% if can? :manage, @document %>
        <!--<p><%#= link_to "Validate", validate_doc_path(@document), class: "label label-info" %></p>-->
      <% end %> <!-- CanCan -->
    <% elsif (@raw_file_link != nil) %>
      <% if can? :download_raw, @document %>
        <p>Raw file (encoded or unfilerable) click the link below to download.</p>
        <p> <%= link_to @document.name, download_raw_path(@document) %> </p>
      <% end %>
    <% else %>
      <p>(none)</p>
    <% end %>
  </div>
  
  
  <%= 
    #render 'viz/visualization', :layout => 'true'
  %>
  <hr/>
  
  
  <!--
  <div id="hidden_form">
  <h2>Data Manipulation</h2>
  <a class="btn btn-info" href="#">More</a>
  <a class="btn btn-inverse" href="#">Hide</a>
  -->

  <!--Document Manip Form-->
  <!--
  <%= form_tag(document_manip_path) do %>
    <%= hidden_field_tag(:id, @document[:id]) %>
    
    <% @colnames.each do |colname|%>
        <%= radio_button_tag("manip_colname", colname) %> 
        <%= colname %>
    <% end %>
    <br />
    <%= select_tag(:manip_func, options_for_select([ ["categorize","categorize"] ]))%>
    <br />

      <%= submit_tag("Manipulate")%>
  <% end %>
  </ul>
  </div>
  
  <hr/>
  -->

</div>
