<div class="hero-unit">
	<p>
	  <b>Name:</b>
	  <%= @document.name %>
	</p>
	
	<p>
	  <b>Collection:</b>
	  <%= @doc_collection.name || "(none)" %>
	  <%= link_to '<i class="icon-download"> Download</i>'.html_safe, csv_export_path(@doc_collection, :format => 'zip', :stype => 'Collection'), :class => "label label-info" %>
	</p>
	
	<p>
		<b>Owner:</b>
		<% if @document.user %>
			<%= @document.user.email %> 
		<% end %>
	</p>
<!--
	<p>
		<% if @document.public %>
			<a class="label label-important" href="<%#= pub_priv_doc_path(@document, :public => "false") %>">
				<i class="icon-eye-open icon-white"></i>
				public
		<% else %>
			<a class="label label-default" href="<%#= pub_priv_doc_path(@document, :public => "true") %>">
				<i class="icon-eye-close icon-white"></i>
				private
		<% end %>
		</a>
	</p>
-->
	<div>
		<%= render 'doc_job_status' %>
	</div>

	<% if @document.validated %>
	  <% if can? :manage, @document %>
	    <%= link_to 'Edit', edit_document_path(@document) %> |
	  <% end %> <!-- can can -->
	<% else %>
	  <% if can? :manage, @document %>
		   <%= link_to 'Edit Properties', edit_document_path(@document) %> |
		   <%= link_to 'Edit Text', edit_document_text_path(@document) %> |
	  <% end %> <!-- can can -->
	<% end %>
	<% if can? :manage, @document %>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		   		document_path(@document),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %> |
	<% end %> <!-- can can -->
		<%#= link_to 'Back', documents_path %>
		<%= link_to 'Back', @document.collection %>

	<hr/>
	
	<div class="container-fluid">
		<h2>Metadata</h2>
		<% if @msdata != nil  and !@msdata.empty? %>
			<table class="table table-striped table-bordered table-condensed" style="width:5;">
				<tbody>
				<% @msdata.each do |msdata_row| %>
					<!--If the row is a Hash, display values only-->
					<tr>
						<% msdata_row.each do |key, val| %>
							<td><%= key %></td>
							<td><%= val %></td>
						<% end %>
					</tr>
				<% end %>
				</tbody>
			</table>
		<% else %>
			<p>(none)</p>
		<% end %>
		
		<% if can? :manage, @document %>
		  <%= form_tag({controller: "metaforms", action: "mdf_input"}, method: "get") do %>
		    <%= select("metaf", "id", Metaform.all.collect {|m| [m.name, m.id]},
		      {:prompt => '(select a metaform)'}) %><br />
		    <%= hidden_field_tag "doc_id", @document.id %>
		    <%= submit_tag("Add Metadata") %>
		  <% end %>
		<% end %> <!-- CanCan -->
		
		<hr />

		<% 
			#Get row data
			@row = @paged_sdata.first()
			#if there is no first row, set to empty instead of nil
			if @row == nil
				@row = {}
			end 
			@colnames = get_data_colnames(@paged_sdata) 
		%>
	

	    <h2>Data</h2>
		<!--Display data-->
		<% default_search = params[:default_search] or "" %>
		<% if @document.stuffing_data != nil %>
		    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="documents"
		    	data-source="<%= document_path(:id => @document.id, :format => :json) %>" data-default-search="<%= default_search %>">
		     <thead>
		      <tr>
				    <% row_keys = [] %>
				    <% if !@row.empty? %>
				    	<% row_keys = @row.keys %>
				    <% end %>
				    <% row_keys.each do |name| %>
				    	<th>
							<%= name %>
				    	</th>
				    <% end %>
		      </tr>
		     </thead>
		     <tbody>
			 </tbody>
			</table>
		<% elsif (@document.stuffing_text != nil and !@document.stuffing_text.empty?) %>
			<p>Raw unvalidated text: </p>

			<% if @document.stuffing_text.is_a? Array %>
				<p><%= @document.stuffing_text[0..100]%>...</p>
			<% else %>
				<p><%= simple_format @document.stuffing_text[0..100000] %>...</p>
			<% end %>
			<p><%= link_to "Validate", validate_doc_path(@document), class: "label label-info" %></p>
		<% else %>
			<p>(none)</p>
		<% end %>
	</div>
	
	
	<%= 
		#render 'viz/visualization', :layout => 'true'
	%>
	<hr/>
	
	
	<!--
	<div id="hidden_form">
	<h2>Data Manipulation</h2>
	<a class="btn btn-info" href="#">More</a>
	<a class="btn btn-inverse" href="#">Hide</a>
	-->

	<!--Document Manip Form-->
	<!--
	<%= form_tag(document_manip_path) do %>
		<%= hidden_field_tag(:id, @document[:id]) %>
		
		<% @colnames.each do |colname|%>
	    	<%= radio_button_tag("manip_colname", colname) %> 
	    	<%= colname %>
		<% end %>
		<br />
		<%= select_tag(:manip_func, options_for_select([ ["categorize","categorize"] ]))%>
		<br />

	    <%= submit_tag("Manipulate")%>
	<% end %>
	</ul>
	</div>
	
	<hr/>
	-->

</div>
