<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Collection:</b>
  <%= @document.collection_id %>
</p>

<p>
	<b>Data:</b>
	<table>
	<% row = @document.stuffing_data.first() %>
	<% colnames = row.keys() %>
		<!--Column names-->
		<tr>
			<td>Column name:</td>
			<% colnames.each do |colname|%>
			<td>
				<b><%= colname %></b>
			</td>
			<% end %>
		</tr>
		<!--Column types-->
		<tr>
			<td>Data type:</td>
			<% colnames.each do |colname|%>
			<td>
				<b><%= row[colname].class() %></b>
			</td>
			<% end %>
		</tr>
		
		<%= form_tag(:controller => "viz") do %>
			<%= hidden_field_tag(:document_id, @document[:id]) %>
		<tr>
			<!--Links to Viz - x axis-->
			<td>X axis</td>
			<% colnames.each do |colname|%>
			<td>
				<%= check_box_tag("x_axis", colname) %> 
			</td>
			<% end %>
		</tr>
		<tr>
			<!--Links to Viz - x axis label-->
			<td>X axis label</td>
			<% colnames.each do |colname|%>
			<td>
				<%= check_box_tag("x_axis_labels", colname) %> 
			</td>
			<% end %>
		</tr>
		<tr>
			<td><%= submit_tag("Visualize")%></td>
			
		<% end %><!--end axis form-->
		</tr>
		
		<!--Document Manip Form-->
			<%= form_tag(document_manip_path) do %>
			<%= hidden_field_tag(:id, @document[:id]) %>
		<tr>
			<td>Data Manipulation:</td>
			<td><%= select_tag(:manip_func, options_for_select([ ["map","map"] ]))%></td>
		</tr>
		<tr>
			<!--Colnames for Data Manip-->
			<td><!--place holder--></td>
			<% colnames.each do |colname|%>
			<td>
				<%= radio_button_tag("manip_colname", colname) %> 
			</td>
			<% end %>
		</tr>
		<tr>
			<td><%= submit_tag("Manipulate")%></td>
			
		<% end %><!--end Data Manip form-->
		</tr>
</table>
	<!--Display data-->
    <table>
        <thead><tr>
            <th><!--place holder for axis labels --></th>
    <% row.keys.each do |name| %>
            <th><%= name %></th>
    <% end %>
        </tr>></thhead>
	<% @document.stuffing_data.each do |row| %>
		<tr>
			<td><!--place holder for axis labels--></td>
			<% row.values.each do |val|%>
			<td>
				<%= val %>
			</td>
			<% end %>
		</tr>
	<% end %>
	</table>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
