<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Collection:</b>
  <%= @document.collection_id %>
</p>

<hr/>

<% @row = @document.stuffing_data.first() %>
<% @colnames = @row.keys %>

<%= render 'viz/visualization', :layout => 'true' %>
<hr/>

<div>
<!--Document Manip Form-->
    <%= form_tag(document_manip_path) do %>
    <%= hidden_field_tag(:id, @document[:id]) %>
<h2>Data Manipulation</h2>
<%= select_tag(:manip_func, options_for_select([ ["map","map"] ]))%>
<ul>
    <% @colnames.each do |colname|%>
        <li>
        <%= radio_button_tag("manip_colname", colname) %> 
        <%= colname %>
        </li>
    <% end %>
<% end %><!--end Data Manip form-->
</ul>
<%= submit_tag("Manipulate")%>
</div>

<hr/>

<div>
    <h2>Data</h2>
	<!--Display data-->
<<<<<<< HEAD
=======
	<!--TODO: make a partial-->
>>>>>>> cblair2
    <table class="table table-striped table-bordered table-condensed" style="width:0;">
        <thead><tr>
            <th><!--place holder for axis labels --></th>
    <% @row.keys.each do |name| %>
            <th><%= name %></th>
    <% end %>
        </tr>></thhead>
	<% @document.stuffing_data.each do |row| %>
		<tr>
			<td><!--place holder for axis labels--></td>
			<% row.values.each do |val|%>
			<td>
				<%= val %>
			</td>
			<% end %>
		</tr>
	<% end %>
	</table>
</div>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
