<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :id => "p_text" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :pdesc, :class => 'text_area', :rows => 10, :id => "p_text" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <p>Add a collaborator to this project</p>
      <%= select_tag("new_user_id", options_from_collection_for_select(User.order("email").all, "id", "email"), :include_blank => true) %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :remove_existing_collaborators_from_this_project, :class => "control-label" %>
    <% if (@colab_list != nil) %>
      <% @colab_list.each do |colab| %>
        <div class="field">
        <%= check_box_tag("colab_user_ids[]", colab.user_id)%>
        <%= colab.user_email %>
      </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <p>Add an editor to this project</p>
      <%= select_tag("new_editor_id", options_from_collection_for_select(User.order("email").all, "id", "email"), :include_blank => true) %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :remove_existing_editors_from_this_project, :class => "control-label" %>
    <% if (@editor_list != nil) %>
      <% @editor_list.each do |editor| %>
        <div class="field">
        <%= check_box_tag("editor_user_ids[]", editor.user_id)%>
        <%= editor.user_email %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
