<h1>Add</h1>

<h3>Project details</h3>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.pdesc %>
</p>

<p>
  <b>Project ID</b>
  <td><%= @project.id %></td>
</p>

<hr>

<h2>Add Documents</h2>
<p>Select a document or collection to add under this project.</p>

<!-- TODO: List only docs with users ID -->
<%= form_tag :controller => 'projects', :action => 'add' do %>
  <p>Select a document.</p>
    <%= select(:doc, :id, Document.all.collect {|d| [ d.name, d.id ] }, {:prompt => '(none)'}) %>
    <%= hidden_field_tag 'proj_id', @project.id %>
    <%= submit_tag 'Submit', :confirm => 'Are you sure?' %>
<% end %>

<%= link_to 'Back', projects_path %>
