<h1>Group Managment</h1>

<h3>Project details</h3>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.pdesc %>
</p>
<!-- debug
<p>
  <b>Project ID</b>
  <td><%= @project.id %></td>
</p>
//-->

<hr>

<h3>Owner Managment</h3>
<p>
  Change owner of this project.  Type the username (email) of the person 
  you would like to transfer ownership of this project to.  <b>WARNING!
  Changing a project's owner will make this project and all of it's
  documents unaccessable by the current owner!</b>
</p>

<%= form_tag :controller => 'projects', :action => 'owner' do %>
  <p>Select new owners email.</p>
    <%= select(:user_name, :id, User.all.collect {|u| [ u.email, u.id ] }, {:prompt => '(none)'}) %>
    <%= hidden_field_tag 'proj_id', @project.id %>
    <%= submit_tag 'Submit', :confirm => 'Are you sure?' %>
<% end %>

<!--
<%= form_tag :controller => 'projects', :action => 'owner' do %>
  <p>Enter target users email.</p>
    <%= text_field_tag 'user_email' %>
    <%= hidden_field_tag 'proj_id', @project.id %>
    <%= submit_tag 'Submit', :confirm => 'Are you sure?' %>
<% end %>
//-->
<%= link_to 'Back', projects_path %>
