<div class="hero-unit">
  <%- model_class = Project -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>

  <div id="hidden_group">
    <a class="btn btn-info" href="#">See Project Info</a>
    <a class="btn btn-inverse" href="#">Hide Project Info</a>

    <div class="hidden_section">
      <%= render :partial => "projects/demo" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <!--<th><%= model_class.human_attribute_name(:pdesc) %></th>-->
        <th>Description</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <% if can? :read, project %>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= project.pdesc %></td>
          <td>
          <% if can? :manage, project %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_project_path(project), :class => 'btn btn-mini' %>
          <% end %> <!-- can-can -->
          <% if can? :manage, project %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        project_path(project),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
            <% end %>
          </td>
          <% end %> <!-- can-can -->
        </tr>
      <% end %> <!-- can-can -->
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_project_path,
              :class => 'btn btn-primary' %>

  <div class="digg_pagination">
    <%= will_paginate @projects %>
  </div>

  <hr>
  <h2>Projects (other)</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <!--<th><%= model_class.human_attribute_name(:pdesc) %></th>-->
        <th>Description</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @projects_other.each do |project| %>
        <tr>
          <% if can? :read, project %>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= project.pdesc %></td>
          <td>
          <% if can? :manage, project %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_project_path(project), :class => 'btn btn-mini' %>
          <% end %> <!-- can-can -->
          <% if can? :manage, project %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        project_path(project),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
            <% end %>
          </td>
          <% end %> <!-- can-can -->
        </tr>
      <% end %> <!-- can-can -->
    </tbody>
  </table>
</div>
