<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.pdesc %>
</p>
<!--
<p>
  <b>Project ID</b>
  <td><%= @project.id %></td> <!-- debug --> <!--
</p>
-->
<hr>

<h2>Listing documents</h2>
<h4>Click a document to view details</h4>

<br />

<% Document.where("user_id = ? AND project_id = ?", current_user, @project.id).each do |doc| %>
  <ul>
    <li> <%= link_to doc.name, doc %> </li>
  </ul>
<% end %>

<br />

<%= link_to 'Add', collections_path %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
