<h1>User Managment</h1>

<h3>Project details</h3>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.pdesc %>
</p>

<hr>

<h3>Collaborators</h3>
<p>Add or remove people to this project.</p>

<%= form_for(@document) do |f| %>
  <p>Add new collaborator</p>
  <div class="field">
    <%= select_tag("new_user_id", options_from_collection_for_select(User.all, "id", "email"), :include_blank => true) %>
<% end %>

</br>

<%= link_to 'Back', projects_path %>
