<h1>Listing ifilters</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ifilters.each do |ifilter| %>
  <tr>
    <td><%= ifilter.name %></td>
    <td><%= link_to 'Show', ifilter %></td>
    <td><%= link_to 'Edit', edit_ifilter_path(ifilter) %></td>
    <td><%= link_to 'Destroy', ifilter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ifilter', new_ifilter_path %>
