<div class="hero-unit">
  <h1>Ifilters</h1>

  <div id="hidden_group">
    <p>IFilters are what turn semi-structured data into structured data in Hatch.</p>
    <a class="btn btn-info" href="#">More</a>
    <a class="btn btn-inverse" href="#">Hide</a>

    <div class="hidden_section">
      <%= render :partial => "ifilters_demo" %>
    </div>
  </div>

  <hr />

  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @ifilters.each do |ifilter| %>
    <tr>
      <td><%= ifilter.name %></td>
      <td><%= link_to 'Show', ifilter %></td>
      <td><%= link_to 'Edit', edit_ifilter_path(ifilter) %></td>
      <td><%= link_to 'Destroy', ifilter, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Ifilter', new_ifilter_path %>
</div>