<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ifilter.name %>
</p>

<p>
  <b>Regex:</b>
  <%= @ifilter.regex %>
</p>

<%= link_to 'Edit', edit_ifilter_path(@ifilter) %> |
<%= link_to 'Back', ifilters_path %>
