<h1>Listing data</h1>

<table>
  <tr>
    <th>Param1</th>
    <th>Param2</th>
    <th>Param3</th>
    <th>Param4</th>
    <th>Param5</th>
    <th>Param6</th>
    <th>Param7</th>
    <th>Param8</th>
    <th>Param9</th>
    <th>Param10</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data.each do |datum| %>
  <tr>
    <td><%= datum.param1 %></td>
    <td><%= datum.param2 %></td>
    <td><%= datum.param3 %></td>
    <td><%= datum.param4 %></td>
    <td><%= datum.param5 %></td>
    <td><%= datum.param6 %></td>
    <td><%= datum.param7 %></td>
    <td><%= datum.param8 %></td>
    <td><%= datum.param9 %></td>
    <td><%= datum.param10 %></td>
    <td><%= link_to 'Show', datum %></td>
    <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
    <td><%= link_to 'Destroy', datum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datum', new_datum_path %>
