<p id="notice"><%= notice %></p>

<p>
  <b>Param1:</b>
  <%= @datum.param1 %>
</p>

<p>
  <b>Param2:</b>
  <%= @datum.param2 %>
</p>

<p>
  <b>Param3:</b>
  <%= @datum.param3 %>
</p>

<p>
	<b>Data:</b>
	<table>
	<% row = @datum.stuffing_data.first() %>
	<% colnames = row.keys() %>
		<!--Column names-->
		<tr>
			<td><!--place holder for axis labels--></td>
			<% colnames.each do |colname|%>
			<td>
				<b><%= colname %></b>
			</td>
			<% end %>
		</tr>
		
		<%= form_tag(:controller => "Viz") do %>
			<%= hidden_field_tag(:datum_id, @datum[:id]) %>
		<tr>
			<!--Links to Viz - x axis-->
			<td>X axis</td>
			<% colnames.each do |colname|%>
			<td>
				<%= radio_button_tag("x_axis", colname) %> 
			</td>
			<% end %>
		</tr>
		<tr>
			<!--Links to Viz - y axis-->
			<td>Y axis</td>
			<% colnames.each do |colname|%>
			<td>
				<%= radio_button_tag("y_axis", colname) %> 
			</td>
			<% end %>
		</tr>
		<tr>
			<td><%= submit_tag("Vizualize")%></td>
			
		<% end %><!--end axis form-->
		</tr>
	
	<!--Display data-->
	<% @datum.stuffing_data.each do |row| %>
		<tr>
			<td><!--place holder for axis labels--></td>
			<% row.values.each do |val|%>
			<td>
				<%= val %>
			</td>
			<% end %>
		</tr>
	<% end %>
	</table>
</p>

<p>
  <b>Metadatum:</b>
  <%= @datum.metadatum_id %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
