<p id="notice"><%= notice %></p>

<p>
  <b>Param1:</b>
  <%= @datum.param1 %>
</p>

<p>
  <b>Param2:</b>
  <%= @datum.param2 %>
</p>

<p>
  <b>Param3:</b>
  <%= @datum.param3 %>
</p>

<p>
  <b>Param4:</b>
  <%= @datum.param4 %>
</p>

<p>
  <b>Param5:</b>
  <%= @datum.param5 %>
</p>

<p>
  <b>Param6:</b>
  <%= @datum.param6 %>
</p>

<p>
  <b>Param7:</b>
  <%= @datum.param7 %>
</p>

<p>
  <b>Param8:</b>
  <%= @datum.param8 %>
</p>

<p>
  <b>Param9:</b>
  <%= @datum.param9 %>
</p>

<p>
  <b>Param10:</b>
  <%= @datum.param10 %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
