<p id="notice"><%= notice %></p>

<p>
  <b>Param1:</b>
  <%= @datum.param1 %>
</p>

<p>
  <b>Param2:</b>
  <%= @datum.param2 %>
</p>

<p>
  <b>Param3:</b>
  <%= @datum.param3 %>
</p>

<p>
  <b>Metadatum:</b>
  <%= @datum.metadatum_id %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
