<h1>Listing metadata</h1>

<p><%= @metadata.count %> entries</p>

<table>
  <tr>
    <th>Param1</th>
    <th>Param2</th>
    <th>Param3</th>
    <th>Param4</th>
    <th>Param5</th>
    <th>Param6</th>
    <th>Param7</th>
    <th>Param8</th>
    <th>Param9</th>
    <th>Param10</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @metadata.each do |metadatum| %>
  <tr>
    <td><%= metadatum.param1 %></td>
    <td><%= metadatum.param2 %></td>
    <td><%= metadatum.param3 %></td>
    <td><%= metadatum.param4 %></td>
    <td><%= metadatum.param5 %></td>
    <td><%= metadatum.param6 %></td>
    <td><%= metadatum.param7 %></td>
    <td><%= metadatum.param8 %></td>
    <td><%= metadatum.param9 %></td>
    <td><%= metadatum.param10 %></td>
    <td><%= link_to 'Show', metadatum %></td>
    <td><%= link_to 'Edit', edit_metadatum_path(metadatum) %></td>
    <td><%= link_to 'Destroy', metadatum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Metadatum', new_metadatum_path %>
