<h1>Listing metadata</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<div id="notice"><%= flash.now[:error] %></div>

<% @metadata.each do |metadatum| %>
  <tr>
    <td><%= metadatum.name %></td>
    <td><%= link_to 'Show', metadatum %></td>
    <td><%= link_to 'Edit', edit_metadatum_path(metadatum) %></td>
    <td><%= link_to 'Destroy', metadatum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Metadatum', new_metadatum_path %>
