<p id="notice"><%= notice %></p>

<p>
  <h1>Name:</h1>
  <%= @metadatum.name %>
  
  <h2>Data:</h2>
  <table>
  	<% @metadatum.data.each do |datum| %>
  		<!--Data - name-->		
		<tr>
  			<td><%= @metadatum.data.first().param1 %></td>
		</tr>
		
		<!--DataColumns-->
		<%
		#TODO: what if datum has no columns?
		#base nrows off the first column
		#nrows = datum.data_columns.count
		nrows = datum.data_column_ints.count
		#TODO: compute column names
		#ncols = datum.data_column_ints.count
		ncols = 1
		%>
	
		<% for i in (0..nrows-1) %>
		<tr>
			<% 
			#for j in (1..ncols) 
			%>
				<td>
					<%= 
						#TODO: user column array
						#datum.data_columns[i][j].val
						#debugger
						datum.data_column_ints[i].val
					%>
				</td>
			<% 
			#end 
			%>
		</tr>
		<% end %>
  <% end %>
  </table>

</p>


<%= link_to 'Edit', edit_metadatum_path(@metadatum) %> |
<%= link_to 'Back', metadata_path %>
