<p id="notice"><%= notice %></p>

<p>
  <h1>Name:</h1>
  <%= @metadatum.name %>
  
  <h2>Data:</h2>
  <table>
  	<tr>
  	<% @metadatum.data.first().attribute_names.sort().each do |name| %>
  		<td>
  		<%= name %>
  		</td>
  	<% end%>
  	</tr>

  	<% @metadatum.data.each do |datum| %>
	<tr>
  		<% datum.attribute_names.sort().each do |name| %>
		<td>
  	 		<%= datum[name] %>
		</td>
  		<% end %>
  	</tr>
  <% end %>
  </table>

</p>


<%= link_to 'Edit', edit_metadatum_path(@metadatum) %> |
<%= link_to 'Back', metadata_path %>
