<p id="notice"><%= notice %></p>

<p>
  <h1>Name:</h1>
  <%= @metadatum.name %>
  
  <h2>Data:</h2>
  <table>
  	<% debugger %>
  	<% @metadatum.data.each do |datum| %>
  		<!--Data - name-->		
		<tr>
  			<td><%= datum.param1 %></td>
  			<td><%= link_to 'Show', datum %></td>
    		<td><%= link_to 'Edit', edit_datum_path(datum) %></td>
    		<td><%= link_to 'Destroy', datum, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
	<% end %>
  </table>

</p>


<%= link_to 'Edit', edit_metadatum_path(@metadatum) %> |
<%= link_to 'Back', metadata_path %>
