<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @metadatum.name %>
  
  <b>Data Name:</b>
  <%= @metadatum.data.first().param1 %>
</p>


<%= link_to 'Edit', edit_metadatum_path(@metadatum) %> |
<%= link_to 'Back', metadata_path %>
