<p id="notice"><%= notice %></p>

<p>
  <b>Param1:</b>
  <%= @metadatum.param1 %>
</p>

<p>
  <b>Param2:</b>
  <%= @metadatum.param2 %>
</p>

<p>
  <b>Param3:</b>
  <%= @metadatum.param3 %>
</p>

<p>
  <b>Param4:</b>
  <%= @metadatum.param4 %>
</p>

<p>
  <b>Param5:</b>
  <%= @metadatum.param5 %>
</p>

<p>
  <b>Param6:</b>
  <%= @metadatum.param6 %>
</p>

<p>
  <b>Param7:</b>
  <%= @metadatum.param7 %>
</p>

<p>
  <b>Param8:</b>
  <%= @metadatum.param8 %>
</p>

<p>
  <b>Param9:</b>
  <%= @metadatum.param9 %>
</p>

<p>
  <b>Param10:</b>
  <%= @metadatum.param10 %>
</p>


<%= link_to 'Edit', edit_metadatum_path(@metadatum) %> |
<%= link_to 'Back', metadata_path %>
