<h1>New post</h1>

<%= 
	#render 'form' 
%>
	
<%= form_for @post, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
  <%= f.text_field :stuffing_title %>
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', posts_path %>
