<div class="hero-unit">
  <%- model_class = Upload -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
    
    <button id="upload_show_help" class="btn btn-info" data-toggle="collapse" data-target="#upload_popup">Help</button>
    <div id="upload_popup" class="collapse out">
      <ul>
        <li>Click the upload name to see file details.</li>
        <li>All non-validated files will appear in the upload list. Once the associated document (if there is one) has been validated it will be removed from the upload list and permanetly stored in the database.</li>
        <li>If an upload has an associated document (e.g. Non-filterable data file) deleting the upload will not delete the associated document, which may contain metadata, documents must be deleted from the main data menus. However deleting a document will delete its associated upload and the document's database record.</li>
        <li>Delete uploads by clicking the "destroy" button. This will permanetly remove the upload from Hatch.</li>
        <li>Deleting a "note" upload will automatically remove links to all documents and collections.</li>
      </ul>
    </div>
  </div>
  
  <script>
    //for live_scaffold.js.erb
    BLACKLIST_KEYS += "upfile_content_type";
    BLACKLIST_KEYS += "upfile_updated_at";
  </script>
  
  <p id="items_per_page">Show
    <%= select_tag :per_page, options_for_select([5,10,25,50,100,500,1000], params[:per_page].to_i),
     {:onchange => "if(this.value){window.location='?per_page='+this.value;}", :prompt => "(select number)"} %>
     items
    </p>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th>Size</th>
        <th>Upload Type</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @uploads.each do |upload| %>
        <tr>
          <td><%= link_to upload.upfile_file_name, upload_path(upload) %></td>
          <td><%= number_to_human_size( upload.upfile_file_size ) %></td>
          <td><%= upload.upload_type %></td>
          <!--<td><%#= link_to 'Show', upload_path(upload) %></td>-->
          <!--<td><%#= link_to 'Edit', edit_upload_path(upload) %></td>-->
          <td><%= link_to 'Destroy', upload, confirm: 'Are you sure?  Note: deleting an upload does not delete the associated document (if it exists).  See "help"',
                    method: :delete, :class => 'btn btn-mini btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br />
  
  <div class="digg_pagination">
    <%= will_paginate @uploads %>
  </div>
  
  <%#= link_to 'New Upload', new_upload_path %>
</div>
