<!DOCTYPE html>
<html>
<head>
  <title>Portal</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
	
<h1>Portal</h1>
<!--
<div class="right">
    <ul id="menu">
    	<% 
    		#Sorry Mike, just taking these out for now. I mush have merged out the user_signed_in method.
    	%>	
        <%= 
        	#render 'layouts/registration_items' 
        %>
        <%= 
        	#render 'layouts/login_items'
        %>
    </ul>
</div>
-->

<div id="menu_wrapper" class="grey">
	<div class="left"></div>
		<ul id="menu">
		<!-- this is how you make it active
		<li class="active"><a href="#">About</a></li>
		-->
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Data I/O", :controller => "DataIO", :action => "index" %></li>
		<li><%= link_to "Hosts", "#" %><li>
        <li><%= link_to "Visualization", '/viz'%></li>
		</ul>
	</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
