<!DOCTYPE html>
<html>
<head>
  <title>Hatch</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <!--jquery is include with jquery-fileupload, so no need for it here. Doing
  	both causes neither to load.-->
  <%= csrf_meta_tags %>
  
  <script>
  	//for live_scaffold.js.erb
	var CONTROLLER_NAME = "<%= params[:controller] %>";
  </script>

  <% if params[:controller] == "documents" %>
  	<%= javascript_include_tag 'documents' %>
  <% end %>

  <% if params[:controller] == "collections" %>
  	<%= javascript_include_tag 'documents_for_collections' %>
  <% end %>
  
  <%= yield :head %>
</head>
<body>
	
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Hatch", root_path, {:class => "brand", :style => "color: #ffffff"} %>
      <div class="nav-collapse collapse">
        <ul class="nav">
            <li><%= link_to "Data Import", csv_import_path %></li>
            <li><%= link_to "Data Explorer", collections_path %></li>
            <!--TODO: someday-->
            <!--<li><%= link_to "Feeds", feeds_path %></li>-->
        </ul>
        <%= render 'layouts/login_items' %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<%
	#if the couchdb is not running, override alert
	if (!is_couchdb_running?(
			host     = Portal::Application.config.couchdb['COUCHDB_HOST'], 
			port     = Portal::Application.config.couchdb['COUCHDB_PORT'],
			username = Portal::Application.config.couchdb['COUCHDB_USERNAME'],
			password = Portal::Application.config.couchdb['COUCHDB_PASSWORD'],
			https    = Portal::Application.config.couchdb['COUCHDB_HTTPS']
      	 )
      )
		alert = 'Warning: couchdb is not reachable.'
	end
%>

<% if !(params[:controller] == "documents") %>
	<div class="container-fluid well" style="background-color: #dfdfdf;">
		<div class="container-fluid well" style="background-color: #f5f5f5;">
			<!--These flash notices are probably the old style, and neeed updated-->
		    <% if notice || alert %>
		        <%= 
		        #javascript_include_tag "bootstrap-alert" 
		        %>
		    <% end %>
		    <% if notice %>
		    <div id="notice" class="alert alert-info">
		        <a class="close" data-dismiss="alert" href="#">&times;</a>
		        <%= notice %>
		    </div>
		    <% end %>
		    <% if alert %>
		    <div id="alert" class="alert">
		        <a class="close" data-dismiss="alert" href="#">&times;</a>
		        <%= alert %>
		    </div>
		    <% end %>
			<% if flash[:error] %>
		    <div id="alert" class="alert alert-error">
		        <a class="close" data-dismiss="alert" href="#">&times;</a>
		        <%= flash[:error] %>
		    </div>
		    <% end %>

		    <%= yield %>
		</div>
	</div>
<% end %>

<% if (params[:controller] == "documents") %>
	<%= yield %>
<% end %>

</body>

</html>
