<!DOCTYPE html>
<html>
<head>
  <title>Hatch</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="page-header">
    <h1 class="brand">Hatch</h1>
    <p></p>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Data I/O", csv_import_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Documents", documents_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Data Explorer", visualizations_path %></li>
          </ul>
          <ul class="nav pull-right">
              <%= render 'layouts/registration_items' %>
              <li class="divider-vertical"></li>
              <%= render 'layouts/login_items' %>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
</div>
<div class="container well" style="background-color: #dfdfdf;">
    <% if notice || alert %>
        <%= javascript_include_tag "bootstrap-alert" %>
    <% end %>
    <% if notice %>
    <div id="notice" class="alert alert-info"">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div id="alert" class="alert">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= alert %>
    </div>
    <% end %>

<%= yield %>
</div>
</body>

</html>
