<!DOCTYPE html>
<html ng-app>
<head>
  <title>Hatch</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <!--jquery is include with jquery-fileupload, so no need for it here. Doing
  	both causes neither to load.-->
  <%= csrf_meta_tags %>
  
  <script>
  	//for our assets/javascripts
	var CONTROLLER_NAME = "<%= params[:controller] %>";
	var ACTION_NAME = "<%= params[:action] %>";
  </script>
  
  <%= yield :head %>
</head>
<body>
	
<nav class="top-bar" data-topbar role="navigation">
  	<ul class="title-area">
    	<li class="name">
      		<h1><%= link_to "Hatch", root_path, {:class => "brand"} %></h1>
    	</li>
     	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    	<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  	</ul>
  	<section class="top-bar-section">
    	<!-- Nav Section -->
	    <ul class="">
		    <li><%= link_to "Data", collections_path %></li>
		    <li><%= link_to "Projects", projects_path %></li>
		    <!--<li><%= link_to "Roles", roles_path %></li> -->
		    <!--TODO: someday-->
		    <!--<li><%= link_to "Feeds", feeds_path %></li>-->
		    <li><%= link_to "Search", new_search_path %></li>
		    <li><%= link_to "Analyze", home_analyze_path %></li>
		    <li><%= link_to "Metaforms", metaforms_path %></li>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
		    <li class="has-form">
				<div class="row collapse">
					<div class="large-12 columns">
			    		<%= render 'layouts/login_items' %>
					</div>
				</div>
			</li>
	    </ul>
	</section>
</nav>


<%
	#if the couchdb is not running, override alert
	if (!is_couchdb_running?(
			host     = Portal::Application.config.couchdb['COUCHDB_HOST'], 
			port     = Portal::Application.config.couchdb['COUCHDB_PORT'],
			username = Portal::Application.config.couchdb['COUCHDB_USERNAME'],
			password = Portal::Application.config.couchdb['COUCHDB_PASSWORD'],
			https    = Portal::Application.config.couchdb['COUCHDB_HTTPS']
      	 )
      )
		alert = 'Warning: couchdb is not reachable.'
	end
%>

<%
	#Allows no-bordered view for big layouts, i.e. datatables
	expanded_view = false

	if (params[:controller] == "documents")
		expanded_view = true
	elsif (params[:controller] == "home" and params[:action] == "search")
		expanded_view = true
	elsif (params[:controller] == "collections" and params[:action] == "index")
		expanded_view = true
	end

%>

<div class="row">
	<div class="small-12 columns">
		<!--These flash notices are probably the old style, and neeed updated-->
		<% if flash[:error] %>
		    <div id="alert" class="alert-box alert" data-alert>
		        <a class="close" href="#">&times;</a>
		        <%= flash[:error] %>
		    </div>
		<% end %>
		<% if flash[:alert] %>
		    <div id="alert" class="alert-box" data-alert>
		        <a class="close" href="#">&times;</a>
		        <%= flash[:alert] %>
		    </div>
		<% end %>
		<% if notice %>
		    <div id="notice" class="alert-box info" data-alert>
		        <a class="close" href="#">&times;</a>
		        <%= notice %>
		    </div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<%= yield %>
	</div>	
</div>

</body>

</html>
