<!DOCTYPE html>
<html>
<head>
  <title>Portal</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="page-header">
    <h1>Portal</h1>
  </div>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <!--<a class="brand" href="#">Portal</a>-->
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Data I/O", csv_import_path %></li>
            <li><%= link_to "Hosts", "#" %><li>
            <li><%= link_to "Visualization", '/viz'%></li>
          </ul>
          <ul class="nav pull-right">
              <%= render 'layouts/registration_items' %>
              <%= render 'layouts/login_items' %>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

<div class="container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</div>
</body>
</html>
